<header>
    <div class="container">
        <a href="#" class="brand">
            <div class="brand-logo">
                <img src="/files/disorders/index.html" alt="ThriveWell Logo">
            </div>
            <span>ThriveWell</span>
        </a>


        <nav aria-label="Main navigation">
            <ul>
                <li>
                    <a href="web-design-team/files/index.html">Home</a>
                </li>
                <li>
                    <a href="web-design-team/files/disorders/index.html">Disorders</a>
                </li>
                <li>
                    <a href="web-design-team/files/action/index.html">Take Action</a>
                </li>
                <li>
                    <a href="web-design-team/files/resources/index.html">Resources</a>
                </li>
                <li>
                    <a href="">Forum</a>
                </li>
            </ul>
        </nav>

        <div class="actions">
            <a href="#" class="search">Search</a>
        </div>
    </div>
</header>
